<p style="color: green"><%= notice %></p>

<% content_for :title, "Artists" %>

<h1>Artists</h1>

<div id="artists">
  <% @artists.each do |artist| %>
    <%= render artist %>
    <p>
      <%= link_to "Show this artist", artist, class:"btn btn-outline-info d-grid gap-2 col-6 mx-auto"%>
    </p>
  <% end %>
</div>

<%= link_to "New artist", new_artist_path, class:"btn btn-outline-success d-grid gap-2 col-6 mx-auto"%>
