<% content_for :title, "New artist" %>

  <div class="container Edit_artist">
  <h1>New artist</h1>

<%= render "form", artist: @artist %>

  <br>
  </div>
<div>
  <%= link_to "Back to artist", artists_path, class:"bouton_back_art1 btn btn-outline-info d-grid gap-2 col-6 mx-auto" %>
</div>
