<% content_for :title, "Editing artwork" %>

<h1 class="title-page"><u>EDITING ARTWORK</u></h1>
<br>

<div class="edit-container-fluid">
  <div class="container-centrer-edit">
<%= render "form", artwork: @artwork%>

<br>
</div>
</div>

<br>
<div class="edit-buttons">
  <%= link_to "Show this artwork", @artwork, class:"btn btn-outline-info d-grid gap-2 col-3 mx-auto"%> |
  <%= link_to "Back to artworks", artworks_path, class:"btn btn-outline-danger d-grid gap-2 col-3 mx-auto" %>
</div>
<br>
