/* Error: expected "{".
 *     ,
 * 155 | >>>>>>> 58455c78881a7a03184034f59703d3a36cfe9bd1
 *     |                                                 ^
 *     '
 *   app/assets/stylesheets/application.scss 155:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 155 \2502  >>>>>>> 58455c78881a7a03184034f59703d3a36cfe9bd1\a     \2502                                                  ^\a     \2575 \a   app/assets/stylesheets/application.scss 155:49  root stylesheet';
}
